.progress-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
 
  .progress-bar-wrapper {
    margin-bottom: 10px;
  }
  
  .custom-progress-bar {
    max-width: 100%; /* Pode ser ajustado conforme necessário */
    height: 22px; /* Altura da barra */
    background-color: #4caf50; /* Cor da barra */
    text-align: left; /* Centraliza o texto */
    color: white; /* Cor do texto */
  }

  .bi-star-fill {
    font-size: 25px; /* Tamanho desejado do ícone */
    color: gold; /* Cor do ícone */
  }